:root {
    --textblack: #000;
    --textblack: #333;
    --textgrey: #666;
    --clr-primary: #ba2e1f;

    //alignment

    --f_none: none;
    --f_left: left;
    --f_right: right;
}

$textblack: #000;
$texthalfblack: #333;
$textgrey: #666;
$textred: #ba2e1f;
